h1{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
   
  
}

#int{
    margin-right: 10px;
    color: #333333;
}

#seta{
    margin-right: 20px;
    margin-left: 30px;
    cursor: pointer;
}


.corpo{
    margin: auto;
    margin-top: 8%;
}


.layout{
    justify-content: center;
    align-items: center;
    text-align: center;
   font-size: 17px;
   border-bottom-left-radius: 10px;
   border-top-right-radius: 10px;
   border-top-left-radius: 20px;
   border-bottom-right-radius: 20px;
   color: white;
   font-family: 'Lato', sans-serif;
  
}

.inputs, .inputs input{
    margin-top: 80px;
    font-family: 'Lato', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  font-size: 16px;
  width: 300px;
  border: none;
  background: transparent;
  
}

.inputs input::placeholder{
    margin-bottom: 6px;
}



.inputs input{
    outline: none;
    font-family: 'Lato', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: left;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
  font-size: 16px;
  width: 270px;
  border: none;
  border-bottom: 2px solid rgb(255, 255, 255);
  background: transparent;
  color: antiquewhite;
  
}

input::placeholder{
    color: white;
    margin-bottom: 20px;
    text-align: left;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.inputs i{
    margin-right: 10px;
}

i{
    color: white;
}

.header{
 margin-top: 20px;
 margin-bottom: 40px;
 margin-left: 20px;
 font-size: 25px;
}


body{
    background-color:  #6146f1;
}

button{
    border-radius: 205px;
    font-size: 20px;
    color: white;
    margin: auto;
    display: flex;
    background-color: rgb(108, 124, 177);
    font-family: 'Lato', sans-serif;
    border-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
    padding-right: 75px;
    padding-left: 75px;
}

#help{
    justify-content: center;
    align-items: center;
    align-content: center;
    display: inline;
    margin: 0;
}






#ajuda{
    position: relative;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: #333333;
    padding-right: 15px;
    padding-left: 15px;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    padding-bottom: 7px;
    padding-top: 7px;
}

img{
    margin: auto;
    display: flex;
    width: 250px;
    margin-bottom: 60px;
}
